{% extends "base.html" %}
{% load tshirt_tag %}
{% load static %}
{% block content%}

<!-- owl-carousl -->
<div class="">
  <div class="container-fluid main-owlCarousel">
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel owl-theme owl-carousel-1">
          {% for slider in Slider %}
          <div class="item"><img src="{{slider.slider.url}}" alt="" class="img-fluid"></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- owl-carousl End-->
<!-- new arrivals design start here -->
<div class="container-fluid mt-0">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h4 class="best-saller"> <span class="fw-bold text-uppercase">OUR</span> <span
          class="text-uppercase">PRODUCT</span>
      </h4>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="">
        <span>Filter</span> <a href="/" class="t   ext-decoration-none"><span>Clear Filter</span></a>
      </div>
      <!-- Brand -->
      <form id='filterform' action="/">
        <div class="filter">
          <label for="necktype" class="fw-bold">Brand</label>
          <select onchange="SubmitForm()" class="form-select form-select-sm fw-bold" name="brand"
            aria-label=".form-select-sm example">
            <option value="">Select Brand</option>
            {% for brands in brand %}
            <option {% selected_attr request.GET.brand brands.slug %} value="{{brands.slug}}">{{brands.title}}</option>
            {% endfor %}
          </select>
          <!-- occation -->
          <label for="necktype" class="fw-bold">Occation</label>
          <select onchange="SubmitForm()" class="form-select form-select-sm fw-bold" name="occation"
            aria-label=".form-select-sm example">
            <option value="">Select Occation</option>
            {% for occations in occation %}
            <option {% selected_attr request.GET.occation occations.slug %} value="{{occations.slug}}">
              {{occations.title}}</option>
            {% endfor %}
          </select>
          <!-- idealfor -->
          <label for="necktype" class="fw-bold">Ideal For</label>
          <select onchange="SubmitForm()" class="form-select form-select-sm fw-bold" name="idealfor"
            aria-label=".form-select-sm example">
            <option value="">Select Ideal For</option>
            {% for idealfors in idealfor %}
            <option {% selected_attr request.GET.idealfor idealfors.slug %} value="{{idealfors.slug}}">
              {{idealfors.title}}</option>
            {% endfor %}
          </select>
          <!-- sleeve -->
          <label for="necktype" class="fw-bold">Sleeve</label>
          <select onchange="SubmitForm()" class="form-select form-select-sm fw-bold" name="sleeve"
            aria-label=".form-select-sm example">
            <option value="">Select Sleeve</option>
            {% for sleeves in sleeve %}
            <option {% selected_attr request.GET.sleeve sleeves.slug %} value="{{sleeves.slug}}">{{sleeves.title}}
            </option>
            {% endfor %}
          </select>
          <!-- necktype -->
          <label for="necktype" class="fw-bold">Neck Type</label>
          <select onchange="SubmitForm()" class="form-select form-select-sm fw-bold" name="necktype" id="necktype"
            aria-label=".form-select-sm example">
            <option value="">Select Necktype</option>
            {% for necktypes in necktype %}
            <option {% selected_attr request.GET.necktype necktypes.slug %} value="{{necktypes.slug}}">
              {{necktypes.title}}</option>
            {% endfor %}
          </select>
          <!-- color -->
          <label for="necktype" class="fw-bold">Color</label>
          <select onchange="SubmitForm()" class="form-select form-select-sm fw-bold" name="color"
            aria-label=".form-select-sm example">
            <option value="">Select Color</option>
            {% for colors in color %}
            <option {% selected_attr request.GET.color colors.slug %} value="{{colors.slug}}">{{colors.title}}
            </option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>

    <!-- End filter  -->
    <div class="col-md-9">
      <div class="row">

        {% for tshirt in page_obj %}

        <div class="col-6 col-md-3 mt-3">
          <div class="main-arrival-body">
            <div class="main-arrival">
              <div class="lable">
                <p>{{tshirt.discount}}% OFF</p>
              </div>
              <div class="arrival-img">
                <a href="/product_detail/{{tshirt.slug}}"><img src="{{tshirt.tshirt_img.url}}" class="img-2 img-fluid"
                    alt=""></a>
              </div>
              <div class="productname-ratting">
                <div class="prod-name">
                  <p class="text-center fw-bold">{{tshirt.tshirt_name}}</p>
                </div>

                <span class=" fw-bold text-center">{%rupee%}{%sale_price tshirt%}</span>
                <del><span class=" fw-bold text-center">{%rupee%}{%min_price tshirt%}</span></del>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?{{pageurl}}1">&laquo; first</a></li>
        <a class="page-link" href="?{{pageurl}}{{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <li class="page-item">
          <a class="page-link" href=""> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?{{pageurl}}{{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?{{pageurl}}{{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}

      </ul>
    </nav>

  </div>

</div>

<script>
  function SubmitForm() {
    document.getElementById('filterform').submit()
  }
</script>



{% endblock%}