{% extends 'base.html'%}
{% load static %}
{% load tshirt_tag %}
{% block content %}


<div class="container mb-2 d-flex justify-content-center">
    <div class="row col-md-12">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="image_section my-1 mx-3">
                <picture>
                    <img src="{{tshirt.tshirt_img.url}}" alt="Img-No-show" class="" style="">
                </picture>
            </div>
            <div class="row m-1">
                <div class="col-md-12">
                    <div class="multiple_images">
                        <img src="{{tshirt.tshirt_img.url}}" class="img-fluid" alt="" style="width: 77px;">
                        <img src="{{tshirt.tshirt_img.url}}" class="img-fluid" alt="" style="width: 77px;">
                        <img src="{{tshirt.tshirt_img.url}}" class="img-fluid" alt="" style="width: 77px;">
                        <img src="{{tshirt.tshirt_img.url}}" class="img-fluid" alt="" style="width: 77px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="product_detail_section">
                <!-- product name price detail -->
                <div class="product_price px-4 py-3">
                    <div class="barnd_name">
                        <p class="fw-bold">Brand : {{tshirt.brand}}</p>
                    </div>
                    <div class="Product_name">
                        <h5 class="fw-bold">{{tshirt.tshirt_name}}</h5>
                    </div>
                    <div class="Product-price-dicount">
                        <span class="sale_price">{%rupee%}{{sell_price}}</span>
                        <del><span class="min_price">{%rupee%}{{size_price}}</span></del>
                        <span class="discount">{{tshirt.discount}}%</span>
                    </div>
                </div>

                <!-- size section -->
                <div class="Select_Size mt-2">
                    <p class=" fw-bold">Select Size</p>
                    <div class="row">
                        {% for size in tshirt.sizevariant_set.all %}
                        <div class="btn-group col-4 mb-2" role="group" aria-label="Third group">
                            <a href="/product_detail/{{tshirt.slug}}?size={{size.size}}" class="btn {%Active_size_button active_size size%}
                            fw-bold">{{size.size}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- add to cart and wish list section  -->
                <div class="row">
                    <div class="wishlist_cart mt-2 d-flex justify-content-between">
                        <div class="addtocart">
                            <a href="/add_to_cart/{{tshirt.slug}}/{{active_size.size}}?return_url={{request.get_full_path}}"><p class=" fw-bold text-uppercase m-0">Add To Cart</p></a>
                        </div>
                        <div class="wishlist">
                            <a href=""><p class=" fw-bold text-uppercase m-0">Buy Now</p></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>



{% endblock %}